<div class="row" *ngIf="isLoadSkill">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-6">
        <div class="row">
            <h4 class="text-center">Processional Skill</h4>
            <div class="col-6 text-center">
                <h6 class="text-secondary">
                    Programming Languages</h6>
                <circle-progress [percent]="87" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="JAVA"></circle-progress>

                <circle-progress [percent]="80" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="PHP"></circle-progress>

                <circle-progress [percent]="70" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="TYPESCRIPT"></circle-progress>

                <circle-progress [percent]="10" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="C#"></circle-progress>

                <circle-progress [percent]="30" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="PYTHON"></circle-progress>

                <circle-progress [percent]="30" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="C"></circle-progress>

                <circle-progress [percent]="35" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="C++"></circle-progress>

                <circle-progress [percent]="67" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="JAVASCRIPT"></circle-progress>

                <circle-progress [percent]="70" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="300" subtitle="HTML&CSS"></circle-progress>


            </div>
            <div class="col-6 text-center">
                <h6 class="text-secondary">Frameworks</h6>
                <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="SPRING BOOT"></circle-progress>
                <circle-progress [percent]="75" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="LARAVEL"></circle-progress>
                <circle-progress [percent]="10" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="ASP.NET"></circle-progress>
                <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="ANGULAR"></circle-progress>
                <circle-progress [percent]="71" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="REACTJS"></circle-progress>
                <circle-progress [percent]="29" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="VUEJS"></circle-progress>
                <circle-progress [percent]="79" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="BOOTSTRAP"></circle-progress>
                <circle-progress [percent]="38" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#ffff33'" [animation]="true"
                    [animationDuration]="300" subtitle="MATERIAL UI"></circle-progress>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-6">
        <div class="row">
            <h4 class="text-center">Other Skill</h4>
            <div class="col-6 text-center">
                <h6 class="text-secondary">Foreign Languages</h6>
                <circle-progress [percent]="45" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00b8e6'" [innerStrokeColor]="'#b3f0ff'" [animation]="true"
                    [animationDuration]="300" subtitle="ENGLISH"></circle-progress>
                <circle-progress [percent]="1" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00b8e6'" [innerStrokeColor]="'#b3f0ff'" [animation]="true"
                    [animationDuration]="300" subtitle="JAPANESE"></circle-progress>
                <circle-progress [percent]="1" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00b8e6'" [innerStrokeColor]="'#b3f0ff'" [animation]="true"
                    [animationDuration]="300" subtitle="CHINESE"></circle-progress>
                <circle-progress [percent]="99" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00b8e6'" [innerStrokeColor]="'#b3f0ff'" [animation]="true"
                    [animationDuration]="300" subtitle="VIETNAMESE"></circle-progress>
            </div>
            <div class="col-6 text-center">
                <h6 class="text-secondary">Soft Skills</h6>
                <circle-progress [percent]="90" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="SINGING"></circle-progress>
                <circle-progress [percent]="11" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="ART"></circle-progress>
                <circle-progress [percent]="33" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="SPORT"></circle-progress>
                <circle-progress [percent]="85" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="E-SPORT"></circle-progress>
                <circle-progress [percent]="69" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="Communication"></circle-progress>
                <circle-progress [percent]="87" [radius]="70" [outerStrokeWidth]="13" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#7300e6'" [innerStrokeColor]="'#d9b3ff'" [animation]="true"
                    [animationDuration]="300" subtitle="Problem-solving"></circle-progress>
            </div>
        </div>
    </div>
</div>