<div class="d-column justify-content-between align-items-center p-3">
    <div>
        <button class="btn btn-success" (click)="lgModal.show()" tooltip="View detail, Click here!!!">Engineer Degree
            Certificate
            <i-bs name="book" width="25" class="p-1" height="25">
            </i-bs>
        </button>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="dialog-sizes-name1" class="modal-title pull-left">Infomation Technology Engineer Degree
                            Certificate </h5>
                        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()"
                            aria-label="Close">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>#16-04-2023</strong><br>
                        A special day ending 23 years of studying.
                        A new journey continues to unfold, I only hope that I will be strong enough and more mature.
                        Thank you to my family and friends who came to congratulate me today
                        <div class="p-5">
                            <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/336777871_1258867548053553_1890548947711752187_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5614bc&_nc_ohc=csinzZSa8GIAX8a7PqE&_nc_ht=scontent.fdad1-2.fna&oh=00_AfDsdWSZ0zpq3KL6zQeJG0rHeI2A2ANR7SdSPMaAHVz-9Q&oe=651C941C"
                                class="img-thumbnail" alt="certification">
                        </div>
                        <div class="p-5">
                            <carousel [isAnimated]="true" [interval]="2000">
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/341455179_1181650535881254_1636436353872325622_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5614bc&_nc_ohc=_CYePzmUfd8AX-25VZf&_nc_ht=scontent.fdad1-2.fna&oh=00_AfAkt4qRXhgLZVWaPP3LV4D5hJPzWXnF4Vr1ZOjiaA2I5g&oe=651CABEE"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/336750098_929718928154675_5831942559874472330_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5614bc&_nc_ohc=Byqn2Y_V89UAX_SqHe-&_nc_ht=scontent.fdad2-1.fna&oh=00_AfCmALn9ZNrg_zxuRdW_0XHPxLcLEEnZtiDrhUkaXIXqSg&oe=651CA7CC"
                                        alt="second slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/336718689_6089137544504687_2161622311872708312_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5614bc&_nc_ohc=604OInOYk-sAX9-W904&_nc_ht=scontent.fdad1-4.fna&oh=00_AfDBfwebTqBofKE1EBx19qhhZJpxUY4Ohi3sepf0HHxRHQ&oe=651D7D21"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/336748580_1275873213321036_2481878622975230317_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5614bc&_nc_ohc=wURZa61-ZzwAX9lw3Xi&_nc_ht=scontent.fdad1-1.fna&oh=00_AfDdFvEooNWMebCDlfKOU9CmAzH9B2cGk9INt-NZ58IBag&oe=651D5AAA"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/336687942_612321863798480_4190548735763743993_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5614bc&_nc_ohc=G40R2xGYP6cAX82z-EJ&_nc_ht=scontent.fdad2-1.fna&oh=00_AfBgDFCfe9Gwl_h2Zsc8urop8naDN4JMfQS7dElXywcOYg&oe=651CB525"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/336685420_1081019793287665_4029440049641569304_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5614bc&_nc_ohc=2pwUio1Zou8AX_2Smyt&_nc_ht=scontent.fdad1-3.fna&oh=00_AfCuIPjSn4nN9CWNs-JACSQX1TviEvfLnJg-SwywrJAiAw&oe=651C8A8A"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/336691323_139392805755227_8698631118183807264_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5614bc&_nc_ohc=XUouBdXFyw4AX-Qnwya&_nc_ht=scontent.fdad2-1.fna&oh=00_AfAOJvMrw5oJPtJoe_keIuwO1Wy2woHtcs-MHobe384yLA&oe=651BF3A8"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/336774077_601815905224431_918171188958977859_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5614bc&_nc_ohc=EQcsxfEQ9RkAX975YAH&_nc_ht=scontent.fdad2-1.fna&oh=00_AfBmJkouwAdtEzgvYUhpadsxx7SuYDFoYhgE4kd1lV3bew&oe=651D67B0"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/336713546_678257250736458_5942837386560108804_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=5614bc&_nc_ohc=_Lx_D4gb-JMAX9MsIvD&_nc_ht=scontent.fdad1-1.fna&oh=00_AfDREY-u2IW2Fu4UhFqSiWYYsx88B8yTsb3llElM1lxISg&oe=651D2C5E"
                                        alt="third slide" style="display: block; width: 100%;">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <button class="btn btn-success" (click)="lgModal1.show()" tooltip="View detail, Click here!!!">LA31 Certificate
            <i-bs name="book" width="25" class="p-1" height="25">
            </i-bs>
        </button>
        <div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="dialog-sizes-name1" class="modal-title pull-left">Luvina Software JSC Academy 31
                            Certificate </h5>
                        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()"
                            aria-label="Close">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>#08-09-2023</strong><br>
                        After more than 4 months of learning about the environment and culture of Luvina, receiving
                        orientation and training on soft skills and technical expertise, I finished the LA31 training
                        course to become an employee at Luvina.
                        <div class="p-5">
                            <img src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/331027995_3517040435243535_6151265707571874194_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=zQYCxDsf60QAX9YeemE&_nc_ht=scontent.fdad1-4.fna&oh=00_AfCdYCsYoifMzkAAg-flPVFupXWJUixH368zyw8ogoHK5g&oe=651D8868"
                                class="img-thumbnail" alt="certification">
                        </div>
                        <div class="p-5">
                            <carousel [isAnimated]="true" [interval]="2000">
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/378035387_752063546928998_2260117165222464790_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=RP2Qqm7PbxwAX_UWavq&_nc_ht=scontent.fdad1-4.fna&oh=00_AfDDJ46RuytAvIPu8KncWiz8oQ1vsIMpwYbjrOvR7GxwMg&oe=651CCF1A"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/375865144_752063550262331_3510945602390195810_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=MltTFwrVAccAX8ztrOb&_nc_ht=scontent.fdad1-4.fna&oh=00_AfCMrFvgOpXecG7bgAzu0dl84tdCzf_ueZRtMGi2t5rchw&oe=651D0703"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/377278159_752063276929025_3178192224952056283_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=49d041&_nc_ohc=ALi5t4Q1Lw8AX_3aCaH&_nc_ht=scontent.fdad1-4.fna&oh=00_AfCT3LVw3IpQfn6wqQKLpeZnDXfIi7wa2ml93sNvybCjyQ&oe=651C2E2F"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom"
                                        src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/375987608_752063516929001_1728665495030663647_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=6euSZ-6mvQcAX-Sljk7&_nc_oc=AQkAtJ8AeoND42x3CkEM5f7cQvNIDYJMGCYmbL-pGLdOiafG44pJDlREb8IMqFzEAfc&_nc_ht=scontent.fdad1-4.fna&oh=00_AfAoGx2DnM69ann4VT8KW1Zl2-Il3QKLflsMU-ntJmtvXw&oe=651CB429"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>