<div class="d-column justify-content-between align-items-center p-3">
    <div>
        <button class="btn btn-success" (click)="lgModal.show()" tooltip="View detail, Click here!!!">Engineer Degree
            Certificate
            <i-bs name="book" width="25" class="p-1" height="25">
            </i-bs>
        </button>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="dialog-sizes-name1" class="modal-title pull-left">Infomation Technology Engineer Degree
                            Certificate </h5>
                        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()"
                            aria-label="Close">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>#16-04-2023</strong><br>
                        A special day ending 23 years of studying.
                        A new journey continues to unfold, I only hope that I will be strong enough and more mature.
                        Thank you to my family and friends who came to congratulate me today
                        <div class="p-5">
                            <img src="assets/images/cer1.png" class="img-thumbnail" alt="certification">
                        </div>
                        <div class="p-5">
                            <carousel [isAnimated]="true" [interval]="2000">
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_1.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_2.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_3.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_4.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_5.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_6.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer1_7.png"
                                        alt="first slide" style="display: block; width: 100%;">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <button class="btn btn-success" (click)="lgModal1.show()" tooltip="View detail, Click here!!!">LA31 Certificate
            <i-bs name="book" width="25" class="p-1" height="25">
            </i-bs>
        </button>
        <div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="dialog-sizes-name1" class="modal-title pull-left">Luvina Software JSC Academy 31
                            Certificate </h5>
                        <button type="button" class="btn-close close pull-right" (click)="lgModal1.hide()"
                            aria-label="Close">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <strong>#08-09-2023</strong><br>
                        After more than 4 months of learning about the environment and culture of Luvina, receiving
                        orientation and training on soft skills and technical expertise, I finished the LA31 training
                        course to become an employee at Luvina.
                        <div class="p-5">
                            <img src="assets/images/cer2.png" class="img-thumbnail" alt="certification">
                        </div>
                        <div class="p-5">
                            <carousel [isAnimated]="true" [interval]="2000">
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer2_1.png" alt="first slide"
                                        style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer2_2.png" alt="first slide"
                                        style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer2_3.png" alt="first slide"
                                        style="display: block; width: 100%;">
                                </slide>
                                <slide>
                                    <img class="img-fluid  image_custom" src="assets/images/cer2_4.png" alt="first slide"
                                        style="display: block; width: 100%;">
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>