<div class="row mt-5 bg_header">
    <div class="col-md-4">
        <div class="p-4">
            <carousel [isAnimated]="true">
                <slide>
                    <img class="img-fluid rounded-circle image_custom"
                    src="assets/images/avatar1.png"
                        alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                    <img class="img-fluid rounded-circle image_custom"
                    src="assets/images/avatar2.png"
                        alt="second slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                    <img class="img-fluid rounded-circle image_custom"
                    src="assets/images/avatar3.png"
                        alt="third slide" style="display: block; width: 100%;">
                </slide>
            </carousel>
            <div class="text-center mt-2 mb-2">
                <button type="button" class="btn btn-success" (click)="clickDownloadCv()">Download CV</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="p-4 " [@fadeInOut]="animationState">
            <h1 class="custom_hello" >Hello <span class="fs-3 text-secondary">Welcome to my profile</span></h1>
            <div class="align-items-center">
                <p class="text-secondary mt-4">Name: <span class="fs-5 p-2 fw-bold">Phan Van Tho</span></p>
                <p class="text-secondary mt-4">Phone: <span class="fs-5 p-2 fw-bold"><a href="tel:0348485360">0348485360</a></span></p>
                <p class="text-secondary mt-4">Address: <span class="fs-5 p-2 fw-bold">Nghia Lam - Tu Nghia - Quang Ngai</span></p>
                <p class="text-secondary mt-4">Company: <span class="fs-5 p-2 fw-bold">Luvina Software JSC</span></p>
            </div>
            <div class="mt-5">
                <ul>
                    <li (click)="goPageProfile('https://www.facebook.com/nhoktho.goodly/')"><img class="icon-btn"
                            src="assets/images/facebook-icon.png"></li>
                    <li (click)="goPageProfile('https://www.tiktok.com/@pvt1007')"><img class="icon-btn"
                            src="assets/images/tiktok-icon.png">
                    </li>
                    <li (click)="goPageProfile('https://www.instagram.com/trextraux/')"><img class="icon-btn"
                            src="assets/images/Intagram-icon.png">
                    </li>
                    <li (click)="goPageProfile('https://www.youtube.com/channel/UCU6vUJ-Q0vNeSteaNqS9Tbw')"><img
                            class="icon-btn"
                            src="assets/images/youtube-icon.png">
                    </li>
                    <li (click)="goPageProfile('mailto:tenemail@gmail.com')"><img class="icon-btn"
                            src="assets/images/email-icon.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>