.bg_header{
    background-color: white;
}
.custom_hello{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 67px;
    color: rgb(23, 167, 119);

}
.image_custom{
    height: fit-content;
    width: fit-content;
    max-height: 40vh;
    min-height: 40vh;
    object-fit: contain;
}

.icon-btn {
    height: 30px;
    aspect-ratio: 1/1;
}

.icon-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

li + li {
    margin-left: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}