<div class="d-flex align-items-center">
    <i-bs class="p-2" name="bag-heart-fill" width="25" height="25">
    </i-bs>
    <span class="p-3">Software Engineer at <a class="text-primary"
            (click)="goPageProfile('https://luvina.net/vi')">Luvina Software JSC</a></span>
</div>
<div class="d-flex align-items-center">
    <i-bs class="p-2" name="book-half" width="25" height="25">
    </i-bs>
    <span class="p-3">Studied at <a class="text-primary" (click)="goPageProfile('https://dau.edu.vn/')">Da
            Nang Architecture University</a></span>
</div>
<div class="d-flex align-items-center">
    <i-bs class="p-2" name="cone-striped" width="25" height="25">
    </i-bs>
    <span class="p-3">Living in <a class="text-primary"
            (click)="goPageProfile('https://www.google.com/maps/place/H%E1%BA%A3i+Ch%C3%A2u,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vi%E1%BB%87t+Nam/@16.0601911,108.1706811,13z/data=!3m1!4b1!4m6!3m5!1s0x314219b5c59ecec1:0xfd2900156004319!8m2!3d16.0472002!4d108.2199588!16s%2Fm%2F03mbk01?hl=vi-VN&entry=ttu')">Da
            Nang</a></span>
</div>

<div class="d-flex align-items-center">
    <i-bs class="p-2" name="house-door-fill" width="25" height="25">
    </i-bs>
    <span class="p-3">From <a class="text-primary"
            (click)="goPageProfile('https://www.google.com/maps/place/Ngh%C4%A9a+L%C3%A2m,+T%C6%B0+Ngh%C4%A9a,+Qu%E1%BA%A3ng+Ng%C3%A3i/@15.141249,108.637571,14z/data=!3m1!4b1!4m6!3m5!1s0x3169af96e2a9b089:0x5f34ceb425c8e2ff!8m2!3d15.1442329!4d108.6353764!16s%2Fg%2F11cr_s6rn_?entry=ttu')">Quang
            Ngai</a></span>
</div>